<h1>Welcome to GetHelpLex</h1>

<p>GetHelpLex is a resource for people seeking <strong>facilities and services</strong> for substance use disorder (substance abuse/addiction) in or around Lexington, Kentucky.</p>

<div class="well">
<h4>
  What Services Are You Interested In?
</h4>
<div class="welcome-options">
  <ul class="welcome-options">
    <li>
      <button class="js-next-prev btn btn-default btn-block" data-next-facet-offset="0" data-jump-to-results="1" data-facility-type="assessment_offered">
          Assessments
      </button>
    </li>
    <li>
      <button class="js-next-prev btn btn-default btn-block" data-next-facet-offset="0" data-jump-to-results="1" data-facility-type="medical_detox_offered">
        Medical Detox
      </button>
    </li>
    <li>
      <button class="js-next-prev btn btn-default btn-block" data-next-facet-offset="1" data-facility-type="residential_offered">
        Residential
      </button>
    </li>
    <li>
      <button class="js-next-prev btn btn-default btn-block" data-next-facet-offset="1" data-facility-type="outpatient_offered">
         Outpatient
      </button>
    </li>
    <li>
    <a href="#" data-toggle="modal" data-target="#twelveStep">
      <button class="btn btn-default btn-block">
        Twelve Step Programs
      </button>
    </a>
    </li>
    <li>
      <button class="js-next-prev btn btn-default btn-block" data-next-facet-offset="0">
        Guided Search
      </button>
    </li>
  <ul>
</div>
</div>

<h5><b><a data-toggle="collapse" href="#disclaimer" aria-expanded="false" aria-controls="disclaimer">
How to use GetHelpLex
</a></b></h5>
<div class="collapse in" id="disclaimer">
  <p>GetHelpLex is a tool to help you find a substance abuse treatment program for yourself or others. It's an informational tool ONLY. <strong>If you are experiencing a medical emergency, please call <a href="tel:911">911.</a></strong></p>

  <p>Please remember that it is:</p>

  <ul>
    <li>NOT a diagnostic tool</li>
    <li>NOT an assessment tool</li>
    <li>NOT a substitute for substance use treatment services</li>
  </ul>

  <p><strong>No identifying information is being collected from your search.</strong></p>
</div>

<h5><b><a data-toggle="collapse" href="#needle_exchange" aria-expanded="false" aria-controls="needle_exchange">
Lexington Needle Exchange Program
</a></b></h5>
<div class="collapse" id="needle_exchange">
  <p>
    The Lexington Needle Exchange Program is located at the Lexington-Fayette County Health Department 
    (650 Newtown Pike, Lexington, KY.).  The exchange is available on Wednesdays from 3:00 p.m. to 6:00 p.m. 
    and Fridays from 11:00 a.m. to 4:00 p.m.  and is anonymous.
  </p>
  <p> 
    For additional information, please call 859-252-2371
  </p>
</div>

<h5><b><a data-toggle="collapse" href="#naloxone" aria-expanded="false" aria-controls="naloxone">
No-Cost Naloxone In Lexington
</a></b></h5>
<div class="collapse" id="naloxone">
  <p>
    No cost naloxone is offered each Friday at the Lexington-Fayette County Health Department 
    (650 Newtown Pike, Lexington, KY.) every Friday from 11:00 a.m. to 4:00 p.m.  In order to receive 
    naloxone a person must bring photo identification and complete a 10 minute class on how to use it.
  </p>
  <p> 
    For additional information, please call 859-252-2371
  </p>
  <p><i>
    Free naloxone is subject to availability
  </i></p>
</div>

<h5><b><a data-toggle="collapse" href="#caseys_law" aria-expanded="false" aria-controls="caseys_law">
Casey's Law
</a></b></h5>
<div class="collapse" id="caseys_law">
  <p>
    The Matthew Casey Wethington Act for Substance Abuse Intervention is named for Matthew Casey Wethington, 
    who died in 2002 from a heroin overdose at the age of 23. Casey was an energetic young man who enjoyed 
    life until it was “taken” by drugs. Casey never intended to become addicted to drugs when he used the first time. 
    What he did not realize was that his using would progress from abusing to dependence and then to the disease of addiction. 
    Although his parents tried to get him help, there was no law that could force someone into treatment because he was an 
    adult. After Casey’s death his parents lobbied for a change. “Casey’s Law” is an involuntary treatment act for 
    those who suffer from the disease of addiction.
  </p>
  <p> 
    For more information on Casey’s Law, please visit the Kentucky Office of Drug Control Policy’s Casey Law page at the link below:<br>
    <a href="https://odcp.ky.gov/Stop-Overdoses/Pages/Caseys-Law.aspx">https://odcp.ky.gov/Stop-Overdoses/Pages/Caseys-Law.aspx</a>.
  </p>
</div>

<h5><b><a data-toggle="collapse" href="#glossary" aria-expanded="false" aria-controls="glossary">Types of Services</a></b></h5>
<div class="collapse" id="glossary">
  <p>
    There are many types of substance abuse treatment available. 
    No single type of treatment is appropriate for all individuals.
  </p>

  <dl>
    <dt>
      Assessment
      <button class="js-next-prev btn btn-default btn-service-title" data-next-facet-offset="0" data-jump-to-results="1" data-facility-type="assessment_offered" style="">
        &#8663;
      </button>
    </dt>
    <dd class="treatment-definition">According to SAMHSA&#8217;s Treatment Improvement Protocol Series, No.51, assessment is a process for defining the nature of that problem, determining a diagnosis, and developing specific treatment recommendations for addressing the problem or diagnosis.</dd>

    <dt>
      Medical Detox
      <button class="js-next-prev btn btn-default btn-service-title" data-next-facet-offset="0" data-jump-to-results="1" data-facility-type="medical_detox_offered">
        &#8663;
      </button>
    </dt>
    <dd class="treatment-definition">According to the National Institute on Drug Abuse, medical detox manages the acute physical symptoms of withdrawal associated with stopping drug use.</dd>

    <dt>
     Outpatient
      <button class="js-next-prev btn btn-default btn-service-title" data-next-facet-offset="1" data-facility-type="outpatient_offered">
         &#8663;
      </button>
   </dt>
    <dd class="treatment-definition">Outpatient treatment programs provide treatment at a variety of sites, but the person lives elsewhere.  Many meet in the evenings and on weekends so participants can go to school or work. Out-patient treatment programs have different requirements for attendance. Some programs require daily attendance; others meet only one to three times per week (What is Substance Abuse Treatment? A Booklet for Families, SAMHSA).</dd>

    <dt>Intensive outpatient program (IOP)</dt>
    <dd class="treatment-definition">Intensive outpatient programs typically meet 3-5 days a week for 2-4 hours a day or more. Relapse prevention is often a major focus of IOP. Typically outpatient programs are often scheduled around work or school.</dt>

    <dt>
      Residential
      <button class="js-next-prev btn btn-default btn-service-title" data-next-facet-offset="1" data-facility-type="residential_offered">
        &#8663;
      </button>
    </dt>
    <dd class="treatment-definition">Residential programs provide a living environment with treatment services. Several models of residential treatment (such as the therapeutic community) exist, and treatment in these programs lasts from a month to a year or more, according to SAMHSA&#8217;s, “What is Substance Abuse Treatment?  A Booklet for Families.</dt>

    <dt>Medication Assisted Treatment</dt>
    <dd class="treatment-definition">The text should read:  Medications are used in combination with counseling and behavioral therapies to provide a whole-patient approach to the treatment of substance use disorders (SAMHSA).</dt>
  </dl>

  <p>
    For additional information in substance abuse treatment, please see the Substance Abuse and Mental Health Services Administration&#8217;s 
    <a href="https://store.samhsa.gov/shin/content/SMA14-4126/SMA14-4126.pdf">
      What is Substance Abuse Treatment?  A Booklet for Families.
    </a>
  </p>
</div>

<h5><b><a data-toggle="collapse" href="#legal-disclaimer" aria-expanded="false" aria-controls="legal-disclaimer">Legal disclaimer</a></b></h5>
<div class="collapse" id="legal-disclaimer">
  LFUCG Office of Substance Abuse and Violence Intervention (SAVI) voluntarily provides the data on this website as a service to the public.  While SAVI attempts to keep the web information accurate and timely, this information is made available on an “as-is” basis. Please report any revisions or corrections to <a href="mailto:gethelplex@lexingtonky.gov">gethelplex@lexingtonky.gov</a> or <a href="tel:8592583834">859-258-3834</a>. LFUCG SAVI explicitly disclaims any representations and warranties, including but not limited to, sponsoring and/or guaranteeing the services provided by any agency or service provider on this website. If you are experiencing a medical emergency or suicidal, please call <a href="tel:911">911.</a>
</div>

<h5><b><a data-toggle="collapse" href="#accuracy" aria-expanded="false" aria-controls="accuracy">Problems with the Locator?</a></b></h5>
<div class="collapse" id="accuracy">
  <p>
    To keep our information current, we verify program details <em>once a year</em>. But please verify treatment details with the program before making any treatment decisions.
  </p>

  <p>
    Please <a href="#" data-toggle="modal" data-target="#feedback-modal">submit feedback</a> or call <a href="tel:8592583834">859-258-3834</a> to report troubleshooting problems with the locator. Please note, this feedback is not always monitored and should be used ONLY to report information that needs to be updated and/or revised on the website.
  </p>

  <p>DO NOT send treatment, assessment or referral questions as feedback.</p>
</div>
