

      .navbar-header .navbar-nav>li, .navbar-header .navbar-nav{
        float: left !important;
      }



      .navbar-header .navbar-right{
        float: right !important;
      }

      .navbar-header {
        width:100%;
        height:55px;
      }

      .navbar-header .navbar-nav>li {
        text-align: center;
        position: relative;
      }

      .navbar-header .header-nav-icon {
        width:18px;opacity: 0.7;position:absolute;top:-7px;left:50%;margin-left:-10px;
      }

      .navbar-header .navbar-nav>li>a {
        /*line-height: 24px;*/
        padding-top:13px;
        padding-bottom:7px;
        padding-left:10px;
        padding-right:10px;
        min-width:45px;
      }

      .navbar-header .home-nav-icon {
        width:20px;
        top:-6px;
      }

      @media (min-width: 768px) {
        .navbar-header .navbar-nav {
          margin-top:7px;
        }
        .navbar-header .navbar-nav>li>a {
          min-width:60px;
        }
      }

      @media (max-width: 498px) {
        .navbar-header .home-nav-entry { display:none; }
        .navbar-header .brand_image { margin-left:-10px;  margin-left:-10px; }
        .navbar-header { margin-left:0px; !important; margin-right:0px; !important; }
        .navbar-header .navbar-nav>li>a { min-width:30px; padding-right:5px; padding-right:5px; }
        .navbar-header .info-nav-icon { margin-left:-8px; }
      }